.card {
  margin: 10px;
}

.formDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.invisible {
  visibility: hidden;
}

label {
  margin: 4px 8px 4px 16px;
}

button {
  margin-left: 10px;
}

.cards {
  width: 100%;
}
